@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Special+Gothic+Expanded+One&display=swap');

body{
    font-family: 'lato';
}

.container{
    min-width: 1vh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header{
    width: 100%;
    display: flex;
    background-color: #FDFFFC;
    justify-content: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.header-container-menu{
    padding: 15px 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 15%;
    display: flex;
    align-items: center;
}
#imagem-header{
    width: 90%;

}

.nav-menu{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu{
    text-decoration: none;
    text-transform: none;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Special Gothic Expanded One';
    color: #000;
    transition: transform 0.3s ease;
}

.menu:hover{
    transform: scale(1.05);
}

.btn-log-in{
    font-family: 'Special Gothic Expanded One';
    color: #000;
    transition: transform 0.3s ease;
}

.btn-log-in:hover{
    transform: scale(1.05);
}

.main{
    margin: 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-initial-container{
    width: 70%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.image-initial{
    border-radius: 5px;
}

.news-description-initial-main{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.title-initial{
    font-family: 'Special Gothic Expanded One';
    color: #E3170A;
    font-size: 18px;
    margin-bottom: 8px;
}

.subtitle-initial{
    font-family: 'Special Gothic Expanded One';
    color: #06070E;
    font-size: 15px;
    margin-bottom: 15px;
    font-family: 'lato';
    font-weight: 600;
}


.paragraph{
    font-size: 14px;
    color: #06070E;
    margin-bottom: 8px;
}

.element-divisor{
    width: 2px;
    padding: 1px;
    background-color: #E3170A;
}

.author{
    font-style: 'talo';
    color: #555555;
}

.featured-news{
    width: 70%;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.type-news{
    margin-right: 25px;
    font-family: 'lato';
}